<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">


    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <meta name="author" content=""></meta>

    <title>Gallery</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"></link>

    <!-- Custom CSS -->
    <link href="/css/stylish-portfolio.css" rel="stylesheet"></link>

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"></link>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"></link>

<body>
  <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" >Art Gallery</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="welcome.html">Torna indietro</a>
                    </li>
            
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Our Gallery</h2>
                   <!--   <hr class="small"></hr>-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                
                                    <img class="img-portfolio img-responsive" src="http://www.sedna-arte.com/components/com_virtuemart/shop_image/product/IL_PONTE_FS2_53ff4a140a839.jpg"></img>
                                
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                    <img class="img-portfolio img-responsive" src="https://previews.123rf.com/images/max5799/max57991504/max5799150400101/38222988-Pittura-a-olio-su-tela-di-una-belle-case-vicino-al-mare-disegno-astratto-Archivio-Fotografico.jpg"></img>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                    <img class="img-portfolio img-responsive"
                                     src="http://www.boorp.com/sfondi_gratis_desktop_pc/sfondi_gratis/sfondi_arte_quadri/leonid_afremov_viale.jpg"></img>
                            </div>
                        </div>
                       
                       
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                    <img class="img-portfolio img-responsive" src="http://www.ifalsidiautore.it/quadri/grandi/PI006ESS_1272.jpg"></img>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <img class="img-portfolio img-responsive" src="http://www.boorp.com/sfondi_gratis_desktop_pc/sfondi_gratis/sfondi_arte_quadri/stelle_nella_notte_vincent_van_gogh.jpg"></img>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                    <img class="img-portfolio img-responsive" src="http://i52.tinypic.com/2gtclzr.jpg"></img>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                    <img class="img-portfolio img-responsive" src="http://www.boorp.com/sfondi_gratis_desktop_pc/sfondi_gratis/sfondi_arte_quadri/william_bouguereau_gabrielle.jpg"></img>
                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="portfolio-item">
                                    <img class="img-portfolio img-responsive" src="https://previews.123rf.com/images/max5799/max57991508/max5799150800008/44259462-pittura-a-olio-casa-vicino-al-mare-fiori-colorati-paesaggio-marino-estate-Archivio-Fotografico.jpg"></img>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                    <a href="#" class="btn btn-dark">Go Top</a>
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                </div>
            </div>
        </div>
        <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
    </footer>
    </body>
</html>
