<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>form</title>
</head>
	<body>
		<h1>inserisci dati</h1>
		
		<form action="#" th:action="@{/processaAutore}" th:object="${autore}" method="post">
			<p>Nome: <input type="text" th:field="*{nome}" /></p>
        	<p>Cognome: <input type="text" th:field="*{cognome}" /></p>
			<p>nazionalita:<input type="text" th:field="*{nazionalita}"/></p>
			<p>Data Nascita:<input type="text" th:field="*{dataNascita}"/></p>
			<p>Data Morte:<input type="text" th:field="*{dataMorte}"/></p>
			<input type="submit" name="submit" value="invia"> </input>
			 <input type="reset" value="Reset" ></input>
		</form>
	</body>
</html>