<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css"/>
<style>
body {font-family: "Raleway", Arial, sans-serif;
text-align: center;
text-decoration: blink;}
.w3-row img {margin-bottom: -8px}
</style>
<title>Lista Autori</title>
</head>
	<body>
	
	<div class="w3-content" style="max-width:1500px"></div>
<div class="w3-container w3-card-4 w3-padding-16 w3-center w3-white" id="contact"></div>
  <div class="w3-row"></div>
  
    <div class="w3-col m53"></div>
  <!-- Header -->
  <header class="w3-container w3-xlarge w3-padding-24">
    
  </header>
		<h1> Lista degli autori </h1>
		<div  th:each="autore, IterStat : ${autori}" >
		
		<td>	<span class=" w3-center w3-theme" th:text="${autore.nome}"></span><br/> </td>
		 <td>   <span class=" w3-center w3-theme" th:text="${autore.cognome}"></span><br/></td>
		 <td>   <span class="w3-center w3-theme" th:text="${autore.nazionalita}"></span><br/></td>
		 <br></br>
		 
		 
		
		 <form action="#" th:action="@{/inserimentoDiUnOpera}" method="post">
			<input type="hidden" name="idAutore" th:value="${autore.id}"/>
			<input type="submit" class="w3-button w3-center w3-theme" name="submit" value="aggiungi opera"/> 
			
		</form>
		

		 <form action="#" th:action="@{/eliminaAutore}" method="post">
			<input type="hidden" name="idAutore" th:value="${autore.id}"/>
			<input type="submit" class="w3-button w3-center w3-theme" name="submit" value="elimina"/>
			
		</form>
		<br></br>
		 <form action="#" th:action="@{/listaOpereAutore}" method="post">
			<input type="hidden" name="idAutore" th:value="${autore.id}"/>
			<input type="submit" class="w3-button w3-center w3-theme" name="submit" value="listaOpere"/> 
			
		</form>
	
		 
		 <br></br>
		
		</div>
		
		
		<footer class="w3-light-grey w3-padding-64 w3-center" id="about">
		
		
		<form action="#" th:action="@{/admin}" method="post">
			
			<input type="submit" class="w3-button w3-center w3-theme" name="submit" value="Torna indietro"/>
			
		</form>
		
		<form action="#" th:action="@{/welcome}" method="post">
			
			<input type="submit" class="w3-button w3-center w3-theme" name="submit" value="Torna alla pagina Iniziale"/>
			
		</form>
		</footer>


	</body>
</html>