<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Insert title here</title>
</head>
	<body>
		<form action="#" th:action="@{/inserimentoAutore}" method="get">
			
			<input type="submit" name="submit" value="inserisci autore"> </input>
			
		</form>
		
		<form action="#" th:action="@{/inserimentoOpera}" method="get">
			
			<input type="submit" name="submit" value="inserisci opera"> </input>
			
		</form>
	</body>
</html>