<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta  charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css"/>
<style>
body {font-family: "Raleway", Arial, sans-serif;
text-align: center;
align-items: center;
text-decoration-color: black}
.w3-row img {margin-bottom: -8px}
</style>
<title>Registrazine avvenuta</title>
</head>
	<body>
	<div class="w3-container w3-card-4 w3-padding-16 w3-center w3-white" id="contact"></div>
  <div class="w3-row">
    <div class="w3-col m53">
     <h1 style="color:blue"> Complimenti, la registrazione è avvenuta correttamente!</h1>

		Nome: <div class="w3-text w3-center w3-theme" th:text="${users.username}"></div>
		Cognome: <div class="w3-text w3-center w3-theme" th:text="${users.cognome}"></div>
		Eta: <div class="w3-text w3-center w3-theme" th:text="${users.eta}"></div>
		
		<br></br>
 
    </div>
    </div>
		<form action="#" th:action="@{/welcome}" method="post">
			
			<input type="submit" class="w3-button w3-center w3-theme" name="submit" value="Torna alla pagina Iniziale"/>
			
		</form>
		<footer class="w3-light-grey w3-padding-64 w3-center" id="about"></footer>
		<footer class="w3-light-grey w3-padding-64 w3-center" id="about"></footer>

	</body>
</html>