<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>form</title>
</head>
	<body>
		<h1>inserisci dati</h1>
		
		<form action="#" th:action="@{/processaUsers}" th:object="${users}" method="post">
			<p>Username: <input type="text" th:field="*{username}" /></p>
			
        	<p>Cognome: <input type="text" th:field="*{cognome}" /></p>
			<p>Eta: <input type="text" th:field="*{eta}" /></p>
			<p>Password: <input type="text" th:field="*{password}" /></p>
			
			<input type="submit" name="submit" value="invia"></input>
			 <input type="reset" value="Reset" ></input>
		</form>
		<form action="#" th:action="@{/welcome}" method="post">
			
			<input type="submit" class="w3-button w3-center w3-theme" name="submit" value="Torna alla pagina Iniziale"/>
			
		</form>
	</body>
</html>